/**
 * @name HydroX Theme
 * @author HieuZ#2007
 * @version .hieucuti
 * @description theme dc lam boi hieuz OMG
*/

@import url('https://maendisease.github.io/Outlook/Outlook.css');
@import url('https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css');

:root {
  --home-image: url('https://media.discordapp.net/attachments/1020654508730224671/1109141580377501818/c248976e7593bc3c5539fbc113c8869d.jpg?width=409&height=546');
  --accent-hue: 279;
  --accent-saturation: 49%;
  --accent-brightness: 41%;
  --gradient-toggle: 1;
  --gradient-hue-shift: 0.61;
  --gradient-saturation: 43%;
  --gradient-deg: 165deg;
  --customFont: JetBrains Mono;
}

/* PHGHuy beo  */
